.index,
.secnd,
.third {
    background-color: rgb(24, 168, 56);
    display: flex;
    height: 400px;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: white;
}

.secnd {
    background-color: blue;
    color: white;
}

.third {
    background-color: brown;
    width: 300px;
    height: 100vh;
    position: fixed;
    justify-content: center
}

.index a,
.secnd a,
.third a {
    color: white;
}

.index button,
.secnd button,
.third button {
    height: 40px;
    font-size: 25px;
    margin: 10px;
}

.keturimygtukai {
    display: flex;
    height: 400px;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.keturimygtukai button {
    height: 50px;
    font-size: 25px;
}

.kubasred {
    height: 100px;
    width: 100px;
    background-color: red;
    display: none;
}

.kubaszalias {
    display: none;
    height: 100px;
    width: 100px;
    background-color: green;
}

.kubasdideja {
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: none;
}

.klausimynas {
    display: flex;
    height: 100vh;
    background-color: violet;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 300px;
}

.klausimynas label {
    color: aqua;
}

.klausimynas button {
    width: 100px;
    height: 40px;
    border-radius: 20px
}

.KL1 {
    display: flex;
    flex-direction: column;
}

.KL2,
.KL3,
.KL4,
.KL5,
.perfecta,
.klaida {
    display: none;
    flex-direction: column;
}

.perfecta {}